@media only all and (max-width: 1445px) {
    /* Header*/
    .header {
        padding-left: 40px;
    }
    .catalog {
        padding: 0 50px 110px;
        background-color: #f8f4f0;
    }
    .header__list-item:first-child {
        padding-left: 5px;
    }
    .header__list {
        margin-right: 32px;
        padding-right: 5px;
    }
}
@media only all and (max-width: 1300px) {
    /*header*/
    .header__list-item:not(.header__list-item:first-child) {
        margin-left: 20px;
    }
    .header {
        padding-left: 20px;
    }
    /*Catalog*/
    .catalog {
        padding: 0 21px 110px;
    }
}
@media only all and (max-width: 1190px) {
    .catalog__popular.active {
        right: 620px;
    }
}
@media only all and (max-width: 1100px) {
    .basket__item .items-info__operation {
        padding-left: 70px;
    }
    .total-sum {
        margin-left: 70px;
    }
}
@media only all and (max-width: 1050px) {
    .catalog__popular.active {
        right: 740px;
    }
}
@media only all and (max-width: 975px) {
    /*header*/
    .header__list {
        display: none;
    }
    .header__logo {
        padding-left: 65px;
        border-bottom: none;
        margin-right: 4px;
    }
    img[src*="корзина(черн)"] {
        width: 31px;
        margin-bottom: 0px;
    }
    .header {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
        border-bottom: solid 1px rgba(25, 141, 155, 0.3);
    }
    .numberOfPosition {
        top: -16px;
        right: -20px;
    }
    /*burger*/
    .wrapper {
        display: block;
    }
    .burger__body {
        height: 50px;
    }
    .burger__cross {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
    }
    .burger__cross span {
        position: absolute;
        background-color: black;
        left: 0px;
        width: 100%;
        height: 2px;
        top: 10px;
    }
    .burger__cross:before,
    .burger__cross:after {
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .burger__cross:before {
        top: 0px;
    }
    .burger__cross:after {
        bottom: 0px;
    }
    .burger__cross.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
    }
    .burger__cross.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .burger__cross.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .burger__menu {
        overflow: auto;
        position: fixed;
        top: -1000px;
        left: 0px;
        width: 100%;
        background-color: #f8f4f0;
        transition: all 0.7s ease-in-out;
    }
    .burger__menu.active {
        top: 136px;
        height: 100%;
    }
    .burger__list {
        flex-direction: column;
        align-items: center;
    }
    .burger__list li {
        margin-top: 50px;
    }
    .burger .header__list-item a {
        font-family: "Arkhip";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .burger .header__list-item {
        margin-top: 31px;
    }
    .burger .header__list-item:first-child {
        margin-top: 31px;
    }
    /*navigation*/
    .breadcrumb {
        display: none;
    }
    .navigation h1 {
        font-size: 30px;
        line-height: 36px;
    }

    /*body*/
    .basket__item .items-info__operation {
        padding-left: 20px;
    }
    .total-sum {
        margin-left: 20px;
    }
    .catalog__popular.active {
        right: 760px;
    }
    /*footer*/
    .footer__logo img {
        width: 100px;
    }
    .footer__list {
        display: none;
    }
    .footer__info {
        margin-top: 34px;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .footer__contacts {
        padding-top: 0px;
    }
    .footer__logo {
        margin-left: 0px;
        margin-top: 34px;
        text-align: center;
    }
    .footer {
        flex-direction: column;
    }
    .address {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .telephone {
        font-size: 18px;
        margin-bottom: 15px;
    }
}
@media only all and (max-width: 790px) {
    /*header*/
    .header {
        align-items: center;
    }
    .header .logo {
        width: 100px;
    }
    /*burger*/
    .burger__cross {
        top: -6px;
    }
    .burger__menu.active {
        top: 137px;
    }
    /*catalog*/
    .catalog {
        padding: 0 20px 60px 20px;
    }
    .basket__item .items-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .items-info__technical {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: auto;
        justify-content: space-around;
    }
    .basket__item .items-info__name span {
        font-weight: 250;
        font-size: 10px;
        line-height: 11px;
        position: relative;
        top: 58px;
        left: -3px;
        width: 30px;
    }
    .basket__item .currency {
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: #121011;
        position: relative;
        bottom: -19px;
        left: -15px;
    }
    .items-info__cross {
        position: relative;
        top: -85px;
        left: 18px;
    }
    .items-info__name {
        padding-left: 0px;
        flex-basis: auto;
    }
    .all-amount {
        position: relative;
        bottom: 23px;
        left: 20px;
        font-weight: 250;
        font-size: 11px;
        line-height: 13px;
    }
    .valuta {
        position: relative;
        bottom: 18px;
        left: 17px;
        font-size: 12px;
        line-height: 16px;
    }
    .total-sum {
        width: 100px;
        flex-basis: auto;
    }
    .sum {
        font-size: 50px;
    }
    .basket__item .items-info__name h3 {
        font-size: 18px;
        width: 250px;
        line-height: 21px;
        margin-bottom: 20px;
        margin-left: 26px;
    }
    .basket__item .items-info__currency {
        flex-basis: auto;
        display: flex;
        width: 80px;
        justify-content: space-between;
    }
    .scroll-buttons {
        justify-content: center;
    }
    .scroll-buttons__arrow-back,
    .scroll-buttons__position-first,
    .scroll-buttons__position-second,
    .scroll-buttons__position-separator {
        display: block;
    }
    .scroll-buttons__first,
    .scroll-buttons__second {
        display: none;
    }
    .scroll-buttons__arrow {
        margin-left: 33px;
    }
    .catalog__popular .catalog__body-item {
        padding: 0 38px 0 38px;
    }
    .scroll-buttons {
        margin-right: 0px;
    }
    .catalog__popular.active {
        right: 707px;
    }
    /*footer*/
}
@media only all and (max-width: 450px) {
    .plus {
        margin-right: 15px;
    }
    .items-info__name span {
        left: 7px;
    }
    .basket__ordering-value {
        padding-left: 20px;
    }
    .total-sum {
        margin-left: 0px;
    }
    .sum {
        font-size: 35px;
    }
}
@media only all and (max-width: 420px) {
    .header__logo {
        padding-left: 60px;
    }
    .header .logo {
        margin-right: 60px;
    }
    .catalog__body-shell {
        padding: 0;
    }
    .catalog__body-shell .catalog__body-item {
        margin: 0px 20px 0px 0px;
    }
    .active-first-item {
        right: 340px;
    }
    .active-second-item {
        right: 685px;
    }
    .active-third-item {
        right: 1028px;
    }
    .basket__item .minus {
        margin-left: 0px;
    }
    .plus {
        margin-right: 0px;
    }
    .basket__item .items-info__name span {
        left: 25px;
    }
    .total-sum {
        width: 85px;
        flex-basis: auto;
    }
}
