.gratitude {
    overflow: hidden;
    max-width: 1205px;
    height: 805px;
    min-width: 375px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.technical {
    width: 41px;
    height: 42px;
    position: relative;
    right: 10px;
    background-color: #efefef;
}
.gratitude a {
    text-decoration: none;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #121011;
    border: solid 4px #198d9b;
    padding: 20px 29px;
}
h1 {
    text-align: center;
    font-family: "Arkhip";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #121011;
    margin-bottom: 27px;
}
p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #121011;
}
.delivery__text {
    padding: 0px 100px 0px 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
